h2{
    color: #3f3faf;
    background: linear-gradient(to right, white, #ffefaf);
}
body{
    background-color: #ffefaf;
}
div#zentai {
    display: flex;          /* フレックスボックスにする */
    flex-direction: row;    /* 横向きに表示（column に変更すると縦向きに表示） */

    width: 1400px;
    border: 5px solid gray;
    padding: 10px 10px 10px 0;
}

div#long {
    flex: 2;                /* 横幅2で表示 */

    background-color: cyan;
    margin-left: 5px;
}

div#short {
    flex: 2;                /* 横幅1で表示 */

    background-color: orange;
    margin-left: 5px;
}
