h2{
    color: #3f3faf;
    background: linear-gradient(to right, white, #ffefaf);
}
body{
    background-color: #ffefaf;
}
div.zentai {
    display: flex;      
    flex-direction: row;    

    width: 500px;
    border: 1px solid gray;
    padding: 5px 5px 5px 0;
}

div.long {
    flex: 2;           

    background-color: cyan;
    margin-left: 5px;
}

div.short {
    flex: 1;             

    background-color: orange;
    margin-left: 5px;
}
